
/* Import the Inter font*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');
:root {
    --bg-light: #fff5fc;
    --primary-light: #0b956a;
    --primary-dark: #007455;
    --error: #8e0000;
    --foreground: #181818;
    --foreground-muted: #71717A; 
    --marker: tomato;
}

::-moz-selection { /* Code for Firefox */
    color: var(--bg-light);
    background: var(--primary-dark);
}

::selection { /* Code for Firefox */
    color: var(--bg-light);
    background: var(--primary-dark);
}

body {
    font-family: "Crimson Pro", serif;
    /* font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    min-height: 100vh;
    background-color: var(--bg-light);
    color: var(--primary-dark);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* cursor: url(../img/leaf-bold.svg) 0 32, pointer; */
}

.container {
    margin: 0px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 1px dashed var(--marker);
}

main > * {
    margin: 4rem;
}

main {
    padding-bottom: 8em;
}

/* * {
    outline: 1px dashed var(--marker) ;
} */

.hero {
    height: 100vh;
    /* border: 1px dashed var(--marker); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    font-family: "Crimson Pro", serif;
    flex-direction: column;
}

.hero h1 {
    font-size: 8rem;
    padding: 2rem 0;
}

.intro-desc {
    text-align: center;
    font-size: 4em;
    line-height: 1;
    margin-top: 0;
    margin-bottom: .5em;
}

p {
    line-height: 1.5;
    font-size: 1.5em;
    margin-top: 1em;
}

p.large {
    font-size: 2em;
    margin-bottom: 1em;
}

p.tiny {
    font-size: 1.2em;
}

a, a:visited {
    color: var(--primary-dark);
    border-bottom: 1px solid var(--primary-dark);
    text-decoration: none;
}

.treatment {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}


section p {
    max-width: 600px;
}

.wide {
    max-width: 1280px;
}

footer {
    padding: 4em;
    background-color: var(--primary-dark);
    color: var(--bg-light);
}

.centered {
    text-align: center;
}

.sources {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-light);
}

h2 {
    text-align: center;
    font-size: 3em;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.communication {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 4em 0; 
}

#methodsandsources {
    background-color: snow;
    height: 100%;
    width: 100%;
}

/* Card */

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #E4E4E7;
    padding: 24px;
    border-radius: 12px;
    width: 460px;
    background: white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    color: #18181B;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .success .badge {
    background: var(--primary-dark);
  }

  .error .badge {
    background: var(--error);
  }
  
  .badge {
    display: flex;
    align-self: flex-start;
    color: white;
    border-radius: 14px;
    gap: 2px;
    padding: 4px 8px;
    margin-bottom: 16px;
    font-size: .8em;
    justify-content: center;
  }
  
  .title {
    margin-bottom: 4px;
    font-weight: 700;
  }
  
  .desc {
    color: var(--foreground-muted);
    margin-bottom: 16px;
  }

  .ph {
    line-height: 1.5 !important;
  }